% rebase('base.html', izbrani_zavihek='igra' )

<div class="columns">
    <div class="column is-one-fifth">
        <div>
            <p>Primeri:</p>
        </div>
        <form action="/preveri" method="POST" >
            <table>
                % for primer in igra.primeri:
                <tr>
                    <td>
                        <span>{{primer.stevilka1}} </span>

                        % if primer.operacija == "ses":
                            <span> + </span>
                        % elif primer.operacija == "ods":
                            <span> - </span>
                        % elif primer.operacija == "mnoz":
                            <span> * </span>
                        % else:
                            <span> / </span>
                        %end

                        <span>{{primer.stevilka2}} = </span>
                        <input type="int" id="vasVnos" name="vasVnos">
                        <input type="hidden" id="st1" name="st1" value = "{{primer.stevilka1}}" >
                        <input type="hidden" id="st2" name="st2" value = "{{primer.stevilka2}}" >
                        <input type="hidden" id="op" name="op" value = "{{primer.operacija}}" >
                        <input type="hidden" id="rezultat" name="rezultat" value = "{{primer.resitev}}" >

                    </td>
                </tr>
                %end
            </table>
            <input type="submit" value="Oddaj rezultate">
        </form>
        
    </div>
</div>