% rebase('base.html', izbrani_zavihek='igra' )

<div class="columns">
    <div class="column is-one-fifth">
        <div>
            <p>Primeri:</p>
        </div>
        <form action="/preveri" method="POST" >
            <table>
                %stev=1;
                % for primer in igra.primeri:
                <tr>
                    <td>
                        <span>{{primer.stevilka1}} </span>
                        % if primer.operacija == "ses":
                            <span> + </span>
                        % elif primer.operacija == "ods":
                            <span> - </span>
                        % elif primer.operacija == "mnoz":
                            <span> * </span>
                        % else:
                            <span> / </span>
                        %end
                        <span>{{primer.stevilka2}} = </span>
                        <input type="int" id="vasVnos-{{stev}}" name="vasVnos-{{stev}}">
                        <input type="hidden" id="st1-{{stev}}" name="st1-{{stev}}" value = "{{primer.stevilka1}}" >
                        <input type="hidden" id="st2-{{stev}}" name="st2-{{stev}}" value = "{{primer.stevilka2}}" >
                        <input type="hidden" id="op-{{stev}}" name="op-{{stev}}" value = "{{primer.operacija}}" >
                        <input type="hidden" id="rezultat-{{stev}}" name="rezultat-{{stev}}" value = "{{primer.resitev}}" >
                    </td>
                </tr>
                %stev += 1
                %end
            </table>
            <input type="submit" value="Oddaj rezultate">
        </form>
    </div>
</div>